@font-face {
    font-family: "Optima";
    font-weight: 400;
    font-style: normal;
    src: url(OptimaModoki.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Optima";
    line-height: 1.5;
    color: #4e4e4e;
    background-color: #f9fafb;
    position: relative;
}

.line {
    position: absolute;
    width: 90%;
    max-width: 1240px;
}

.wrapper {
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    background-color: #f2f3f4;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.date {
    margin-bottom: 30px;
    
}

.photo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex: 1;
}

.right {
    flex: 1 1 100%;
    text-align: center;
}

.name {
    font-style: italic;
    font-weight: 400;
}

.time {
    margin-bottom: 14px;
}

.photo {
    height: auto;
}

.separator {
    height: 1px;
    width: 40%;
    background-color: #858e81;
    margin: 20px auto;
}

.our-names {
    margin-top: 25px;
}

.our-names > span {
    font-weight: 400;
}

.note {
    margin-top: 12px;
    display: inline-block;
    font-size: 16px;
}

.note.first {
    margin-top: 0;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #858e81;
    color: #967b5e;
}

@media only screen and (max-width: 680px) {
    .line {
        top: 26%;
    }

    body {
        font-size: 16px;
    }

    .wrapper {
        height: 100%;
    }

    .date {
        font-size: 7vw;
    }

    .photo {
        width: 50%;
        max-width: 210px;
    }

    .note {
        font-size: 14px;
    }
}

@media only screen and (min-width: 680px) {
    .line {
        top: 240px;
    }

    body {
        font-size: 18px;
    }

    .date {
        font-size: 30px;
    }

    .photo {
        width: 20%;
        max-width: 210px;
    }

    .note {
        font-size: 16px;
    }
}