* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.d {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.d__inner-container {
    width: 80vw;
    max-width: 1200px;
}

.d__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px;
}

.d__row:nth-child(even) {
    background-color: #e8e8e8;
}

.d__row:nth-child(odd) {
    background-color: #e8efe8;
}

.d__input-container {
    display: flex;
}

.d__input-container {
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
}

.d__remove {
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 35px;
    height: 35px;
    border: 1px solid brown;
    background-color: brown;
    color: white;
    font-size: 18px;
    transition: all .3s ease-in;
}

.d__remove:hover {
    background-color: red;
}

label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
}

input {
    outline: none;
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid gray;
}

input:focus {
    border-color: brown;
}

.d__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.d__button {
    flex-basis: 45%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #FF9800;
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    transition: all .3s ease-in;
}

.d__button-in-modal {
    flex-basis: auto;
    margin-top: 40px;
    padding: 0 20px;
}

.d__button:hover {
    background-color: rgb(189, 117, 9)
}

textarea {
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 14px;
}

body {
    padding-bottom: 400px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
}

.modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d__checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.d__checkbox-container > label {
    margin-left: 10px;
    margin-top: 3px;
}